html,
body,
#root,
.app,
.page {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.page {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
